normalize-css()

html {
  width 100%
  height 100%
}

body {
  width 100%
  height 100%
  font-family Roboto, Roboto-Regular, Tahoma, Arial, 'Droid Sans', 'Helvetica Neue', 'Droid Sans Fallback', 'Heiti SC', 'Hiragino Sans GB', "Microsoft YaHei", Simsun, sans-serif
}

a {
  -webkit-tap-highlight-color rgba(0, 0, 0, 0)
  tap-highlight-color rgba(0, 0, 0, 0)
  &:focus {
    -webkit-tap-highlight-color rgba(0, 0, 0, 0)
    tap-highlight-color rgba(0, 0, 0, 0)
  }
}
