.block-tps {
  text-align center
  border-bottom 1px solid #dfe4e5
  .tips-content {
    box-sizing border-box
    display inline-block
    padding 20px 0 20px 44px
    font-size 16px
    color #333333
    background url("../img/icon_game_center_tips.svg") left center no-repeat
    background-size 36px 36px
  }
}

.block-game {
  .con-game {

  }
  .list-game {
    .item {
      border-bottom 1px solid #dfe4e5
    }
    .link-item {
      text-decoration none
      display flex
      justify-content space-between
      align-items center
      height 60px
    }

    .box-icon {
      box-sizing border-box
      padding 0 0 0 12px
      flex 0 0 auto
      .icon {
        width 40px
        height 40px
        border-radius 6px
      }
    }
    .box-info {
      box-sizing border-box
      padding 0 0 0 8px
      flex 1 1 auto
      width 0
      .game-title {
        padding-bottom 2px
        font-size 16px
        color #333333
        overflow ellipsis
      }
      .game-desc {
        padding-bottom 2px
        font-size 12px
        color #939393
        overflow ellipsis
      }
    }
    .box-btn {
      width 102px
      flex 0 0 auto
      .btn-play {
        display block
        width 90px
        height 32px
        line-height 32px
        text-align center
        background-color #77d154
        border-radius 4px
        color #ffffff
        font-size 14px
        border 0
        outline none
        &.pressed {
          background-color #60aa43
        }
        &:focus {
          border 0
          outline none
        }
      }
    }
  }
}
